Package Installation

In [35]:
!pip install panda
!pip install matplotlib
!pip install numpy
!pip install seaborn
!pip install colorama

Requirement already satisfied: panda in ./anaconda3/lib/python3.10/site-packages (0.3.1)
Requirement already satisfied: setuptools in ./.local/lib/python3.10/site-packages (from panda) (67.6.1)
Requirement already satisfied: requests in ./anaconda3/lib/python3.10/site-packages (from panda) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in ./anaconda3/lib/python3.10/site-packages (from requests->panda) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/lib/python3.10/site-packages (from requests->panda) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.10/site-packages (from requests->panda) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.10/site-packages (from requests->panda) (2022.12.7)
Requirement already satisfied: matplotlib in ./anaconda3/lib/python3.10/site-packages (3.7.0)
Requirement already satisfied: cycler>=0.10 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (22.0)
Requirement already satisfied: fonttools>=4.22.0 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: numpy>=1.20 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: pyparsing>=2.3.1 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in ./anaconda3/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: numpy in ./anaconda3/lib/python3.10/site-packages (1.23.5)
Requirement already satisfied: seaborn in ./anaconda3/lib/python3.10/site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in ./anaconda3/lib/python3.10/site-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=0.25 in ./anaconda3/lib/python3.10/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in ./anaconda3/lib/python3.10/site-packages (from seaborn) (3.7.0)
Requirement already satisfied: packaging>=20.0 in ./anaconda3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (22.0)
Requirement already satisfied: fonttools>=4.22.0 in ./anaconda3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./anaconda3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in ./anaconda3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in ./anaconda3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in ./anaconda3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in ./anaconda3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./anaconda3/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: colorama in ./anaconda3/lib/python3.10/site-packages (0.4.6)

In [36]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
import warnings
warnings.filterwarnings('ignore')

Loading the dataset

In [40]:
xls = pd.ExcelFile('HospitalDatabase.xlsx')
df_ED = pd.read_excel(xls, 'EDVisits')
df_PA = pd.read_excel(xls, 'Patients')
df_AmbV = pd.read_excel(xls,'AmbulatoryVisits')
df_ReAd = pd.read_excel(xls, 'ReAdmissionRegistry')
df_Dis = pd.read_excel(xls, 'Discharges')
df_Pro = pd.read_excel(xls, 'Providers')
df_EDU = pd.read_excel(xls, 'EDUnique')

61. np.arange(1,31).reshape(6,5) Find the array slicing to get the elements with values 11,12,16,17.

In [41]:

np.arange(1,31).reshape(6,5)[2:4,:2]

array([[11, 12],
       [16, 17]])

    62.Create a dataframe with acuity and EDDisposition as the indices and the count of number of patients as the        value.

In [42]:

df1 = pd.read_excel(xls, 'EDVisits', usecols = ['Acuity','EDDisposition'])
df1.groupby(['Acuity','EDDisposition']).size()

Acuity  EDDisposition
1       Admitted          32
        Discharged       558
2       Admitted         116
        Discharged        66
3       Admitted          81
4       Admitted         107
        Discharged        30
5       Admitted         179
        Discharged        30
dtype: int64

    63.List male patients over the age of 60 who have undergone surgery from January-March 2019.

In [51]:
#calculate age

from datetime import datetime
from datetime import date

def calculate_age(birthdate, today = date.today()):
    return today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

df_PA['age'] = df_PA['DateOfBirth'].apply(calculate_age)
df_PA

#find surgery dates

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,age
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English,63
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English,37
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English,46
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English,54
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English,60
...,...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English,36
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English,52
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English,40
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English,59
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English,50